# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/results
/data
.settings
.cproject
.nedfolders
.oppbuildspec
.project
.qtenvrc
/ResponseTimeNetwork/.idea/vcs.xml
/ResponseTimeNetwork/.idea/workspace.xml
/ResponseTimeNetwork/.idea/misc.xml
/ResponseTimeNetwork/.idea/modules.xml
/ResponseTimeNetwork/StatisticAnalysis/.idea/other.xml
/.idea/.gitignore
